# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.<br>
**Objectives:**

+ List popular languages for Data Science
+ List the commonly used libraries for Data Scientists
+ List the tools used for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib 
3. Pandas
4. SciPy
5. Seaborn
6. Scikit-learn

| Data Science Tools |
|:-|
| Rstudio |
| Scrapy |
| KNIME |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min=int(input("Enter time in minutes"))
h=min//60
print("Hours=",h)

Enter time in minutes 200

Hours= 3

## Author
Joseph Akintola